:root {
  --body_color: #ece7e8;
  --container_color: #d4d1d1;
  --header1_color: #d4d1d1;
  --header2_color: #d4d1d1;
  --section_color: #d4d1d1;
  --footer_color: #d4d1d1;
  --input_select: #b1adad;
  --focus: 2px solid #555656;
  --volver: #c1b9b9;
  --principales: linear-gradient(45deg, #4cc4e5, #2d78d3);
  --secundarios: linear-gradient(45deg, #d75757, #d35858);
  --listas_border: 1px solid var(--border_color);
  --border_color: #000000;
  --text_color_recuperation: #281cd4;
  --filter_img: brightness(0) invert(0) opacity(1);
  --tema_color: #000000;
  --text_color: #000000;
  --box_shadow: 1px 2px 4px #716e6e;
}

:root.dark {
  --body_color: #000000;
  --container_color: #2e3543;
  --header1_color: #2e3543;
  --header2_color: #2e3543;
  --section_color: #2e3543;
  --footer_color: #2e3543;
  --input_select: #3a3838;
  --focus: 1px solid #000000;
  --volver: linear-gradient(45deg, #0a2a52, #0e0f15);
  --principales: linear-gradient(45deg, #0e0f15, #0a2a52);
  --secundarios: linear-gradient(45deg, #302427, #790746);
  --listas_border: 1px solid var(--border_color);
  --border_color: #ffffff;
  --text_color_recuperation: hsl(252, 91%, 17%);
  --filter_img: brightness(0) invert(1) opacity(0.8);
  --tema_color: #d0c7c7;
  --text_color: #b0aaaa;
  --box_shadow: 1px 2px 4px #121111;
}

@keyframes Entrance {
  from {
    opacity: 0;
    transform: scale(0.5) translateX(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

.botonDesabilitado {
  background: #3b4252 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body_color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 20px 0px;
}

#container {
  max-width: 800px;
  margin: 5px auto;
  padding: 7px;
  border-radius: 20px;
  background: var(--container_color);
  backdrop-filter: blur(10px);
  box-shadow: var(--box_shadow);
}

#header1 {
  background: var(--header1_color);
  height: 30px;
  border-radius: 20px 20px 0px 0px;
}

#content {
  color: var(--text_color);
}

#header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--header2_color);
  padding: 20px;
  text-align: center;
}

#header2 img {
  width: 100%;
  max-width: 200px;
  height: auto;
  filter: var(--filter_img);
  animation: Entrance 0.5s ease-in;
}

#detallesProduccion,
#detallesBaches {
  border: solid 1px var(--border_color);
  border-radius: 15px;
  text-align: left;
  line-height: 30px;
  box-shadow: var(--box_shadow);
  width: 100%;
  max-width: 600px;
}

#detallesBaches {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.fila {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: solid 1px var(--border_color);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.fila strong {
  width: 250px;
}

.fila span {
  flex: 3;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 25px;
  background: var(--section_color);
  min-height: 50vh;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#registroBaches {
  border: solid 1px var(--border_color);
  border-radius: 10px;
  box-shadow: var(--box_shadow) inset;
  color: var(--text_color);
}

#detallesProduccion {
  color: var(--text_color);
}

#detallesProduccionT {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--border_color);
  text-align: left;
  color: var(--text_color);
}

#detallesProduccionT th {
  text-align: left;
  padding: 8px;
  width: 50%;
  vertical-align: top;
  overflow-wrap: anywhere;
  border-bottom: 1px solid var(--border_color);
  color: var(--text_color);
}

#detallesProduccionT td {
  text-align: left;
  padding: 8px;
  vertical-align: top;
  overflow-wrap: anywhere;
  border-bottom: 1px solid var(--border_color);
  border-left: 1px solid var(--border_color);
  color: var(--text_color);
}

footer {
  background: var(--footer_color);
  text-align: center;
  text-decoration: underline;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
}

#lema {
  margin: 0;
  font-style: italic;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--text_color);
}

input,
select {
  background-color: var(--input_select);
  border-radius: 10px;
  border: none;
  height: auto;
  width: 80%;
  max-width: 300px;
  margin: 7px;
  font-size: 18px;
  padding: 10px;
  outline: none;
  box-shadow: var(--box_shadow) inset;
  transition: outline 0.2s ease;
  animation: Entrance 0.5s ease-out;
  color: var(--text_color);
}

input:focus,
select:focus {
  outline: var(--focus);
}

#volver {
  border-radius: 50px;
  background: var(--volver);
  margin: 10px;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: var(--box_shadow);
  color: var(--text_color);
  animation: Entrance 0.5s ease-out;
}

button:not(.tema) {
  border-radius: 20px;
  width: fit-content;
  max-width: 300px;
  font-size: 16px;
  text-transform: capitalize;
  margin: 5px auto;
  padding: 15px;
  box-shadow: var(--box_shadow);
  color: var(--text_color);
  border: none;
  transition: transform 0.2s ease-out;
}

.principales {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--principales);
  animation: Entrance 0.5s ease-out;
}

.secundarios {
  background: var(--secundarios);
  animation: Entrance 0.5s ease-out;
}

.tema {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--tema_color);
}

#recuperacion {
  font-size: 12px;
  display: grid;
  color: var(--text_color_recuperation);
  animation: Entrance 0.5s ease-out;
}

.listas {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 1px 16px 1px 32px;
  list-style: decimal;
  list-style-position: outside;
  font-size: 16px;
  color: var(--text_color);
  overflow: visible;
}

.listas li {
  text-align: left;
  border: var(--listas_border);
  color: var(--text_color);
  border-radius: 15px;
  width: 100%;
  margin: 5px auto;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  padding: 5px;
  box-shadow: var(--box_shadow);
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(1.1);
}

button:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
}

#repositorio {
  text-align: center;
  margin-top: 20px;
}

#github {
  display: inline-block;
  background: var(--principales);
  padding: 5px;
  font-size: 10px;
  border-radius: 20px;
  border-style: double;
  border-color: var(--border_color);
  color: var(--text_color);
  box-shadow: var(--box_shadow);
}

.alertStyle {
  background: var(--container_color);
  border-radius: 30px;
  text-align: center;
  max-width: 400px;
  box-shadow: var(--box_shadow);
  padding: 20px;
}
.swal2-actions {
  display: flex;
  gap: 10px;
}
